<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org"
 th:replace="~{base::Layout(~{::section})}">
	<head>
		<meta charset="ISO-8859-1">
		<title>Insert here</title>
	</head>
	<body style="background-color: lightblue;">
		<section>
			<!-- start slider -->
<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="img/ecom_site/ecom2.png" class="d-block w-100" alt="..." height="350px">
    </div>
    <div class="carousel-item">
      <img src="img/ecom_site/ecom.jpg" class="d-block w-100" alt="..." height="350px">
    </div>
    <div class="carousel-item">
      <img src="img/ecom_site/ecom3.jpg" class="d-block w-100" alt="..." height="350px">
    </div>
  
    <div class="carousel-item">
      <img src="img/ecom_site/ecom5.jpg" class="d-block w-100" alt="..." height="350px">
    </div>
    
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!-- End slider -->

<!--Start Category Module-->

	<div class="container">
		<div class="row">
			<p class="text-center fs-4">Category</p>
			<div class="col-md-2" th:each="c:${category}">
				<div class="card rounded-circle shadow-sm p-3 mb-5 bg-body-tertiary rounded">
					<div class="card-body text-center">
						<!--<img th:src="@{'img/ecom_site/'+${c.imageName}" width="65%" height="140px">
						<p>[[${c.name}]]</p>
					</div>-->
					<img th:src="@{'img/ecom_site/'+${c.imageName}}" width="65%" height="140px"><br>
							<a th:href="@{'/products?category='+${c.name}}" class="text-decoration-none">[[${c.name}]]</a>
						</div>
				</div>
			</div>
			<!--<div class="col-md-2">
				<div class="card rounded-circle shadow-sm p-3 mb-5 bg-body-tertiary rounded">
					<div class="card-body text-center">
						<img src="img/ecom_site/laptopp.jfif" width="65%" height="140px">
						<p>Laptops</p>
					</div>
				</div>
			</div>-->
			<!--<div class="col-md-2">
				<div class="card rounded-circle shadow-sm p-3 mb-5 bg-body-tertiary rounded">
					<div class="card-body text-center">
						<img src="img/ecom_site/mobile.webp" width="65%" height="140px">
						<p>Mobiles</p>
					</div>
				</div>
			</div>-->
			<!--<div class="col-md-2">
				<div class="card rounded-circle shadow-sm p-3 mb-5 bg-body-tertiary rounded">
					<div class="card-body text-center">
						<img src="img/ecom_site/beauty.png" width="65%" height="140px">
						<p>Beauty</p>
					</div>
				</div>
			</div>-->
			<!--<div class="col-md-2">
				<div class="card rounded-circle shadow-sm p-3 mb-5 bg-body-tertiary rounded">
					<div class="card-body text-center">
						<img src="img/ecom_site/dresses.jpg" width="65%" height="140px">
						<p>Dresses</p>
					</div>
				</div>
			</div>-->
			
			<!--<div class="col-md-2">
				<div class="card rounded-circle shadow-sm p-3 mb-5 bg-body-tertiary rounded">
					<div class="card-body text-center">
						<img src="img/ecom_site/grocery.webp" width="65%" height="140px">
						<p>Grocery</p>
					</div>
				</div>
			</div>-->
		</div>
	</div>

<!--End Category Module-->
<!--start latest Product module-->
	<div class="container-fluid bg-light p-3">
		<div class="row">
			<p class="text-center fs-4"> Latest Product</p>
			
			<div class="col-md-3" th:each="p:${products}">
					<div class="card shadow-sm p-3 mb-5 bg-body-tertiary rounded">
						<div class="card-body text-center">
							<img alt="" th:src="@{'img/product_img/'+${p.image}}" class="" width="65%"
								height="140px">
							<p class="text-center"><a th:href="@{'/product/'+${p.id}}" class="text-decoration-none">[[${p.title}]]</a></p>
						</div>
					</div>
				</div>
			
		<!--	<div class="col-md-3">
				<div class="card">
					<div class="card-body text-center">
						<img alt="" src="img/categeory_img/hp.jfif" class="" width="65%" height="140px">
						<p class="text-center"> HP Laptop</p>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card">
					<div class="card-body text-center">
						<img alt="" src="img/categeory_img/hp.jfif" class="" width="65%" height="140px">
						<p class="text-center"> HP Laptop</p>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card">
					<div class="card-body text-center">
						<img alt="" src="img/categeory_img/hp.jfif" class="" width="65%" height="140px">
						<p class="text-center"> HP Laptop</p>
					</div>
				</div>
			</div>-->
		</div>
	</div>
	
<!--end latest product module-->
		</section>
		
	</body>
</html>